body {
  font-family: Arial, sans-serif;
   background-color:  #545353;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  font-size: 20px;

  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 35px;
}

main {
  display: flex;
  flex-direction: column;
align-items:center;
  padding: 40px;
  font-size: 20px;
}

section {
  background-color: #f7f7f7;
  padding: 100px;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 40px;
}

img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

select {
margin-left: 10px;
padding: 5px;
background-color: #acaaaa;
}


.menu{
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  
}


.menu li{
  position: relative;
}
.menu > li{
  padding: 15px 20px;
}
.menu a {
  color: white;
  text-decoration: none;
  display: block;
}
.menu > li:hover{
  background-color: #333;
}
/*SUBMENU*/
.submenu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(235, 180, 28);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}
.submenu li{
  padding: 10px;
}
.submenu a {
  color: white;

}
/*MOSTRAR SUBMENU AL PASAR EL MOUESE*/
.menu li:hover .submenu{
  display: block;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }
.logo-container {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
  }

  .logo-container img {
      width: 300px;
    height: auto;
    text-align: center;
    /* ajusta tamaño si necesitas */
  }
  
  button {
    background-color: #363636;
    color: #fff;
    padding:  10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.3s ease-in-out; /* Efecto de transición */
    display: flex;
    
  }
  
  button:hover {
    background-color: #363636;
  }
  
  button:active {
    background-color: #3d3d3d;
    transform: scale(0.9);
  }